<% include ./partials/header %>


<div class="ui main text container">
  <div class="ui huge header">Hotels</div>
  <table class="ui celled table">
    <thead style="user-select: text;">
      <tr style="user-select: text;">
        <th style="user-select: text;">Hotel id</th>
        <th style="user-select: text;">Hotel  Name</th>
        <th style="user-select: text;">Number of reviews</th>
        <th style="user-select: text;">Address</th>
        <th style="user-select: text;">Number of Stars</th>
        <th style="user-select: text;">Amenities</th>
        <th style="user-select: text;">Image</th>
        <th style="user-select: text;">Snaptravel Price</th>
        <th style="user-select: text;">Hotel.com Price</th>
      </tr>
    </thead>
    <tbody style="user-select: text;">
    <% hotels.forEach(function(hotel){ %>
      <tr style="user-select: text;">
        <td style="user-select: text;"><%= hotel.id %></td>
        <td style="user-select: text;"><%= hotel.hotel_name %></td>
        <td style="user-select: text;"><%= hotel.num_reviews %></td>
        <td style="user-select: text;"><%= hotel.address %></td>
        <td style="user-select: text;"><%= hotel.num_stars %></td>
        <td style="user-select: text;"><%= hotel.amenities %></td>
        <td style="user-select: image;"><img src="<%= hotel.image_url %>"></td>
        <td style="user-select: text;"><%= hotel.price %></td>
        <td style="user-select: text;"><%= hotel.retail_price %></td>
      </tr>
    <% }) %>
  </tbody>
  <tfoot style="user-select: text;">
    <tr style="user-select: text;"><th colspan="9" style="user-select: text;">
      <div class="ui right floated pagination menu" style="user-select: text;">
        <a class="icon item" style="user-select: text;">
          <i class="left chevron icon" style="user-select: text;"></i>
        </a>
        <a class="item" style="user-select: text;">1</a>
        <a class="item" style="user-select: text;">2</a>
        <a class="item" style="user-select: text;">3</a>
        <a class="item" style="user-select: text;">4</a>
        <a class="icon item" style="user-select: text;">
          <i class="right chevron icon" style="user-select: text;"></i>
        </a>
      </div>
    </th>
  </tr></tfoot>
  </table>
</div>

<% include ./partials/footer %>
