<% include ./partials/header %>


<div class="ui main text container">
  <div class="ui huge header">Form</div>
  <form action="/hotels" method="POST" class="ui form">
        <div class="field">
            <label>City</label>
            <input type="text" name="city" placeholder="city">
        </div>
        <div class="field">
            <label>Check In</label>
            <input type="text" name="checkin" placeholder="checkin">
        </div>
        <div class="field">
            <label>Check Out</label>
            <input type="text" name="checkout" placeholder="checkout">
        </div>

        <input class="ui violet basic button" type="submit">
    </form>
</div>

<% include ./partials/footer %>
